.button {
  display: inline-block;
  padding: .5rem 4rem;

  background: var(--green-500);
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: var(--boxshadow-green);
  letter-spacing: .5rem;

  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }
}

.button-2 {
  display: inline-block;
  padding: .5rem 6rem;

  background: var(--green-500);
  border-radius: 10px;
  color: BLACK;
  font-weight: bold;
  font-size: 3rem;
  box-shadow: var(--boxshadow-green);

  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }
}
